<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotsix.infra.arrival.ArrivalDao">
<resultMap id="resultMapObj" type="com.hotsix.infra.arrival.ArrivalDto"></resultMap>
	
	<select id="selectList">
		SELECT
			a.arrivalSeq
			,a.arrivalAccount
			,a.arrivalRegDate
			,a.arrivalModDate
			,a.arrivalDelNy
			,b.productName
			,b.productCode
			,b.productPrice
			,b.productTypeCd
			,c.companyName
		FROM
			arrival a
		LEFT JOIN product b
			on a.productSeqF = b.productSeq
		LEFT JOIN company c
			on c.companySeq = b.companySeqF
	</select>
	
	<select id="selectOne">
		SELECT
			a.arrivalSeq
			,a.arrivalAccount
			,a.arrivalRegDate
			,a.arrivalModDate
			,a.arrivalDelNy
			,b.productName
			,b.productCode
			,b.productPrice
			,b.productTypeCd
			,c.companyName
		FROM
			arrival a
		LEFT JOIN product b
			on a.productSeqF = b.productSeq
		LEFT JOIN company c
			on c.companySeq = b.companySeqF
		WHERE a.arrivalSeq = #{arrivalSeq}
	
	</select>
	
	<insert id="insert">
		INSERT INTO arrival(
			arrivalAccount
			,productSeqF
			,poSeqF
		)VALUES(
			#{arrivalAccount}
			,#{productSeqF}
			,#{companySeqF}
		)
	</insert>
	
</mapper>