<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotsix.infra.arrival.ArrivalDao">
<resultMap id="resultMapObj" type="com.hotsix.infra.arrival.ArrivalDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.arrivalSeq
			,a.arrivalRegDate
			,a.arrivalModDate
			,a.arrivalDelNy
			,d.productName
			,d.productTypeCd
			,d.productPrice
			,e.memberTypeCd
			,e.memberName
			,a.arrivalAccount
			,f.companyName
		FROM arrival a
		LEFT JOIN placingOrder b on b.memberSeqF = a.poSeqF
		LEFT JOIN poProduct c on c.poProductSeq = b.poSeq
		LEFT JOIN product d on d.productSeq = a.productSeqF
		LEFT JOIN member e on e.memberSeq = b.memberSeqF
		LEFT JOIN company f on f.companySeq = d.companySeqF
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.arrivalSeq
			,a.arrivalRegDate
			,a.arrivalModDate
			,a.arrivalDelNy
			,d.productName
			,d.productTypeCd
			,d.productPrice
			,e.memberTypeCd
			,e.memberName
			,a.arrivalAccount
			,f.companyName
		FROM arrival a
		LEFT JOIN placingOrder b on b.memberSeqF = a.poSeqF
		LEFT JOIN poProduct c on c.poProductSeq = b.poSeq
		LEFT JOIN product d on d.productSeq = a.productSeqF
		LEFT JOIN member e on e.memberSeq = b.memberSeqF
		LEFT JOIN company f on f.companySeq = d.companySeqF
		WHERE 1=1
		AND a.arrivalSeq = #{arrivalSeq}
	
	</select>
	
	<select id="arrivalList" resultMap="resultMapObj">
		
	</select>
	
	<insert id="insert">
		INSERT INTO arrival(
			arrivalAccount
			,productSeqF
			,poSeqF
		)VALUES(
			#{arrivalAccount}
			,#{productSeqF}
			,#{memberSeqF}
		)
	</insert>
	
	<insert id="companyInsert">
		INSERT INTO product(
			companySeqF
		)VALUES(
			#{companySeqF}
		)
		
	</insert>
	
	<update id="update">
		UPDATE arrival a
		LEFT JOIN product b on b.productSeq = a.productSeqF
		SET
		 	a.arrivalAccount = #{arrivalAccount}
		 	,b.productName = #{productName}
		 	,b.productPrice = #{productPrice}
		 WHERE a.arrivalSeq = #{arrivalSeq}	
	</update>
	
	<delete id="delete">
    	DELETE FROM  arrival
    	WHERE  1=1
    		AND arrivalSeq = #{arrivalSeq}
    </delete>
	
	<update id="uelete">
		UPDATE arrival
    	set
    	arrivalDelNy = 1
    	WHERE 1=1 
    	AND	arrivalSeq = #{arrivalSeq}
	</update>
	
</mapper>