<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotsix.infra.exits.ExitsDao">
<resultMap id="resultMapObj" type="com.hotsix.infra.exits.ExitsDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	 select
		 a.orderSeq
		, a.orderRegDate
		, a.orderModDate
		, b.orderProductSeq
		, b.orderAccount
		, c.productName
		, c.productPrice
		, c.productTypeCd
		, d.memberTypeCd
		, d.memberName
        , e.deliverName
        , e.delivaryNumber
        , e.delivaryNameCd
        , e.statusCd
        from
         exits e
		left join orders a on e.orderSeqF = a.orderSeq
		left join orderProduct b on b.productSeqF = a.orderSeq
		left join product c on c.productSeq = b.productSeqF
		left join member d on d.memberSeq = b.orderSeqF
        ;
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
	
	</select>
	
	
	<insert id="insert">
		insert into exits(
			orderSeqF
			,exitAccount
			,delivaryNameCd
			,delivaryNumber
			,deliverName
			,statusCd
		)values(
			#{orderAccount}
			,#{productSeqF}
			,#{memberSeqF}
		)
	</insert>
	
	<update id="update">
		
	</update>
	
	<update id="uelete">
		
	</update>
	
	<delete id="delete">
		
	</delete>	
	

</mapper>