<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hotsix.infra.order.OrderDao">
<resultMap id="resultMapObj" type="com.hotsix.infra.order.OrderDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
	select
		a.orderSeq
		,a. orderRegDate
		,a. orderModDate
		,a. orderDelNy
		,d.memberName
		,d.memberTypeCd
		,c.productName
		,c.productPrice
		,c.productTypeCd
		,b.orderAccount
	from
		orders a
	left join orderProduct b
		on a.orderSeq = b.orderSeqF
	left join product c
		on c.productSeq = b.productSeqF
	left join member d
		on d.memberSeq = a.memberSeqF
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
	
	</select>
	
	
	<insert id="insert">
		insert into order(
			orderAccount		
		)values(
			#{orderAccount}
		)
	</insert>
	
	
	<update id="update">
		
	</update>
	
	<update id="uelete">
		
	</update>
	
	<delete id="delete">
		
	</delete>	
	

</mapper>